[submodule "EmbeddedDbNeo4j"]
	path = EmbeddedDbNeo4j
	url = git@github.com:techbrightworks/EmbeddedDbNeo4j.git
[submodule "EmbeddedDBServerHibernate"]
	path = EmbeddedDBServerHibernate
	url = git@github.com:techbrightworks/EmbeddedDBServerHibernate.git
[submodule "FullStackCamelWorks"]
	path = FullStackCamelWorks
	url = git@github.com:techbrightworks/FullStackCamelWorks.git
[submodule "Java8AsynchronousExample"]
	path = Java8AsynchronousExample
	url = git@github.com:techbrightworks/Java8AsynchronousExample.git
